{% extends 'trade/base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr>
                <td>
                    {{ form.id }}
                    {{ form.instance.item.name }}
                </td>
                <td>{{ form.quantity }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}